<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Django!</title>
</head>
<body>
    {% extends "firstapp/base.html" %}
    {% block title %} About {% endblock title %}
    {% block header %} Сведения о компании {% endblock header %}
    {% block content %}
    <h2>"Интеллектуальные программные системы"</h2>
    <hЗ>templates/firstapp/about.html</hЗ>

    <p>Примеры вывода даты и времени</p>
    <p>Год в виде четырех цифр - {% now "Y" %}</p>
    <p>Год в виде последних двух цифр - {% now "y" %}</p>
    <p>Полное название месяца - {% now "F" %}</p>
    <p>Сокращенное название месяца - {% now "M" %}</p>
    <p>Номер месяца, две цифры - {% now "m" %}</p>
    <p>Аббревиатура месяца (Ассошизйтед Пресс) - {% now "N" %}</p>
    <p>Дата (день/месяц/год) - {% now "j/m/Y" %}</p>
    <p>Время (час:мин:сек) - {% now "H:i:s" %}</p>
    {% endblock content %}
</body>
</html>