<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends "firstapp/base.html" %}
    {% block title %} Index {% endblock title %}
    {% block header %} Main Page {% endblock header %}
    {% block content %}
    <p>Анализ возраста клиента: </p>
<!--    {% if age > 65%}-->
<!--        <p> Клиент достиг пенсионного возраста</p>-->
<!--    {% else %}-->
<!--        <p> Клиент не достиг пенсионного возраста</p>-->
<!--    {% endif %}-->
     <p>Категории продуктов</p>
        {% for i in cat %}
            <li>{{ i }}</li>
        {% empty %}
            <li>Категории продуктов отсутствуют</li>
        {% endfor %}

        {% with nаmе="ЧАЙХАНА" nom=1 %}
            <div>
                <p>При магазине работает {{ name }}</p>
                <p>Номер № {{ nom }}</p>
            </div>
        {% endwith %}
    {% endblock content %}
</body>
</html>